# =========================
# Database (Spring Boot + Postgres container init)
# =========================
DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# =========================
# Spring Boot
# =========================
SERVER_PORT=8080
SWAGGER_SERVER_URL=
DEVICE_SECRET_PEPPER=
AI_SERVER_URL=
AI_INTERNAL_SECRET=

# =========================
# RabbitMQ
# =========================
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

# =========================
# Redis
# =========================
REDIS_HOST=
REDIS_PORT=

# =========================
# Elasticsearch
# =========================
ELASTICSEARCH_HOST=
ELASTICSEARCH_PORT=

# =========================
# FastAPI (GMS / OpenAI-compatible endpoint)
# =========================
# GMS (Gen AI Management System) API Key (지급받은 Key 입력) (fastAPI)
GMS_KEY=
# GMS API Base URL (OpenAI 규격) (fastAPI)
GMS_BASE_URL=
MAIN_MODEL=
STT_MODEL=

# ---------------------------
# AWS S3
# ---------------------------
AWS_ACCESS_KEY_ID=로컬에서만 사용
AWS_SECRET_ACCESS_KEY=로컬에서만 사용
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=
AWS_S3_PRESIGNED_URL_EXPIRATION_MINUTES=10

AWS_S3_ORIGINAL_PREFIX=uploads/original
AWS_S3_RESIZED_PREFIX=uploads/resized
AWS_S3_THUMBNAIL_PREFIX=uploads/thumbnail

# ---------------------------
# google
# ---------------------------
FIREBASE_ACCOUNT_PATH=
GOOGLE_PLACES_API_KEY=

# ---------------------------
# kakao
# ---------------------------
KAKAO_API_KEY=
KAKAO_NATIVE_APP_KEY=

# ---------------------------
# /api/v1/admin/todos/reindex api 요청 보안 키
# ---------------------------
ADMIN_INTERNAL_SECRET=
